<h1>Review Event Registration Status</h1>
<%= link_to "Export Event Registration Info", "/admin/export", :style => "font-size: 1.5em;" %> 
<%= link_to "Export Workshop Popularity Info", "/admin/export_workshops", :style => "font-size: 1.5em; margin-left: 3em;" %>
<div style="margin-top: 2em;">
  <div style="font-size: 1.3em; float: left;  ">
    <h3><%= "Teachers registered: #{@tregistered} of #{@tall}" %></h3>
    <h3><%= "Boys Division: #{@tboysdone} of #{@tboysall}" %></h3>
    <h3><%= "Girls Division: #{@tgirlsdone} of #{@tgirlsall}" %></h3>
    <h3><%= "Stuck adults: #{@tproblems}" %></h3>
  </div>
  <div style="font-size: 1.3em; float: left; ">
    <h3><%= "Students registered: #{@sregistered} of #{@sall}" %></h3>
    <h3><%= "Boys Division: #{@sboysdone} of #{@sboysall}" %></h3>
    <h3><%= "Girls Division: #{@sgirlsdone} of #{@sgirlsall}" %></h3>
    <h3><%= "Stuck children: #{@sproblems}" %></h3>
    <br />
  </div>
  <div style="clear: both;"></div>
  <style>
   #admin-table tr:nth-child(even) {background: #CCC}
   #admin-table tr:nth-child(odd) {background: #FFF}
  </style>
  <div style="font-size: 1.3em;  ">
    Tips for navigating: Search for student name with Cmd-f or Ctrl-f
    <br />
    "Stuck" students are marked (Stuck), so you could search for that the same way.
  </div>
  <br />
  <br />
  <table id="admin-table" style="height: 10em; width: 50%;">
    <% Student.all.each do |s| %>
      <% if s.workshop_ids.count != 0 and s.workshop_ids.count != 3 %>
        <tr style="color: red;">
          <td><%= link_to (s.full + "(Stuck)"), "/admin/force/student/#{s.id}" %></td>
      <% else %>
        <tr>
          <td><%= link_to s.full, "/admin/force/student/#{s.id}" %></td>
      <% end %>
          <td><%= s.prefix %></td>
          <td><%= s.first.nil? ? "None" : s.first %></td>
          <td><%= s.second.nil? ? "None" : s.second %></td>
          <td><%= s.third.nil? ? "None" : s.third %></td>
        </tr>
    <% end %>
  </table>
  <br />
</div>
