<h1>Review Event Registration Status</h1>
<div style="font-size: 1.3em; float: left; ">
  <h3><%= "Teachers registered: #{(Teacher.all.count) - (Teacher.all.select {|s| s.workshop_ids == []}.count)} of #{Teacher.all.count}" %></h3>
  <h3><%= "Boys Division: #{(Teacher.boys.count) - (Teacher.boys.select {|s| s.workshop_ids == []}.count)} of #{Teacher.boys.count}" %></h3>
  <h3><%= "Girls Division: #{(Teacher.girls.count) - (Teacher.girls.select {|s| s.workshop_ids == []}.count)} of #{Teacher.girls.count}" %></h3>
  <div style="overflow: auto;height: 400px; width: 400px;">
  </div>
  <br />
</div>
<div style="font-size: 1.3em; float: left; ">
  <h3><%= "Students registered: #{(Student.all.count) - (Student.all.select {|s| s.workshop_ids == []}.count)} of #{Student.all.count}" %></h3>
  <h3><%= "Boys Division: #{(Student.boys.count) - (Student.boys.select {|s| s.workshop_ids == []}.count)} of #{Student.boys.count}" %></h3>
  <h3><%= "Girls Division: #{(Student.girls.count) - (Student.girls.select {|s| s.workshop_ids == []}.count)} of #{Student.girls.count}" %></h3>
  <div style="overflow: auto;height: 400px; width: 400px;">
  </div>
  <br />
</div>
<div style="clear: both;"></div>
<br />
<%= link_to "Export Event Registration Info", "/admin/export", :style => "font-size: 1.5em;" %>
