<h1>Review Event Registration Status</h1>
<%= link_to "Export Event Registration Info", "/admin/export", :style => "font-size: 1.5em;" %>
<div style="margin-top: 2em;">
<div style="font-size: 1.3em; float: left;  ">
  <h3><%= "Teachers registered: #{@tregistered} of #{@tall}" %></h3>
  <h3><%= "Boys Division: #{@tboysdone} of #{@tboysall}" %></h3>
  <h3><%= "Girls Division: #{@tgirlsdone} of #{@tgirlsall}" %></h3>
  <h3><%= "Problem adults: #{@tproblems}" %></h3>
  <div style="overflow: auto;height: 400px; width: 400px; background-color: #cccccc; margin: 3em 3em 3em 1em;">
    <table style="height: 10em; width: 50%;">
      <% Teacher.all.each do |t| %>
      <% if t.workshop_ids.count != 0 and t.workshop_ids.count != 3 %>
      <tr style="color: red;">
	<% else %>
      <tr>
	<% end %>
	<td><%= link_to t.full, "/admin/force/teacher/#{t.id}" %></td>
	<td><%= t.prefix %></td>
	<td><%= t.first.nil? ? "None" : t.first %></td>
	<td><%= t.second.nil? ? "None" : t.second %></td>
	<td><%= t.third.nil? ? "None" : t.third %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <br />
</div>
<div style="font-size: 1.3em; float: left; ">
  <h3><%= "Students registered: #{@sregistered} of #{@sall}" %></h3>
  <h3><%= "Boys Division: #{@sboysdone} of #{@sboysall}" %></h3>
  <h3><%= "Girls Division: #{@sgirlsdone} of #{@sgirlsall}" %></h3>
  <h3><%= "Problem children: #{@sproblems}" %></h3>
  <div style="overflow: auto;height: 400px; width: 400px; background-color: #cccccc; margin: 3em 3em 3em 1em;">
  <table style="height: 10em; width: 50%;">
    <% Student.all.each do |s| %>
    <% if s.workshop_ids.count != 0 and s.workshop_ids.count != 3 %>
    <tr style="color: red;">
      <% else %>
    <tr>
      <% end %>
      <td><%= link_to s.full, "/admin/force/student/#{s.id}" %></td>
      <td><%= s.prefix %></td>
      <td><%= s.first.nil? ? "None" : s.first %></td>
      <td><%= s.second.nil? ? "None" : s.second %></td>
      <td><%= s.third.nil? ? "None" : s.third %></td>
      </tr>
    <% end %>
  </table>
  </div>
  <br />
</div>
<div style="clear: both;"></div>
<br />
</div>
