<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.0em;}
  h1 {font-size: 2.5em;}
</style>

<h1>Edit Event Data</h1>

<div class="text">
  
  <%= form_tag(:controller => "event", :action => "edit_events") do %>
  
  <p class="text">Either select a site and submit new data for it, <br> or select "I want ot make a new site" and submit data for the new site.</p>
  
  <label for="id"><span class="text">Select the site you wish to modify:</span></label><br />
  <%= select("event", "id", Event.all.sort {|a, b|  a.name <=> b.name }.collect {|e| [ "#{e.availability} - #{e.name}", e.id ] }, :id => "event_selection", :include_blank => true) %>
  <br />
  <br />
  <label for="new">I want to make a new site</label>
  <%= check_box_tag "new", false %>
  <br />
  <br />
  <label for="kill">I want to delete the selected site</label>
  <%= check_box_tag "kill", false %>
  <br />
  <br />
  <label for="name">New name of site:</label><br />
  <%= text_field("event", "name", :size => 80, :id => "name_input", :placeholder => "No Change") %>
  <br />
  <br />
  <label for="capacity">New capacity of site:</label><br />
  <%= text_field("event", "capacity", :size => 10, :id => "capacity_input", :placeholder => "No Change") %>
  <br />
  <br />
  <%= submit_tag("Submit") %>
  
  <% end %>
  
</div>
