<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.5em;}
</style>

<h1>Modify User Information</h1>

<p class="text"><strong>Warning:</strong> We're letting you assign more users to a site than they have the capacity for, just to make it easier to move people around.  Students are still restricted from registering for a site that is full.  If any sites are overfull, they will be listed here:</p>
<table>
<%= (e = EventHelper.generate_html_overfull.html_safe) && !e.empty? ? e : "<tr><td>None!</tr></td>".html_safe %>
</table>
<br />
<%= form_tag(:controller => "event", :action => "edit_users") do %>
<label for="user">Choose a user to modify:</label><br />
<%= select("user", "id", User.all.sort {|a, b| a.last <=> b.last }.collect {|u| [ "#{u.last}, #{u.first} - #{u.event_id ? u.event.name : 'NONE' }", u.id ]}, { :include_blank => true }) %>
<br />
<label for="id">Site:</label><br />
<%= select("event", "id", ["--Unregister--"].concat(Event.all.sort {|a, b|  a.name <=> b.name }.collect {|e| [ "#{e.availability} - #{e.name}", e.id ] }), { :include_blank => true } ) %>
<br />
<%= submit_tag("Submit") %>
<% end %>
