<style type="text/css">
.text{font-family: Helvetica, Arial, sans-serif;}
.text label{font-size: 1.5em;}
h1 {font-size: 2.2em;}
</style>

<h1 class="text">Step 1: Log In</h1>

<div class="text" style="float: left">
  <div class="text" style="float: left; position: relative; left: 15%;" >
    <%= form_tag(:action => "login") do %>

      <label for="user_prefix">Username:</label><br/><br/>
    <%= text_field("user", "prefix", :size => 20, :placeholder => "JBergoglio")%>
    <br/><br/>Your Regis Jesuit Login Prefix.<br/>
    This is the same as the first part<br/>
    of your Regis Jesuit email.<br/><br/>

    <label for="user_number">ID Number:</label><br/><br/>
    <%= password_field("user","number",:size => 20, :placeholder => "200012345" )%>
    <br/><br/>The 4, 5, or 9 digit number<br/> on your student/teacher ID.<br/><br/>

    <%= submit_tag("Login") %>

  <% end %>

  </div>

  </div>
  <div class="text" style="float: left; position: relative; left: 5%; top: 40px;">
    <%= image_tag "/assets/id.jpg", height:"200px", width:"336px" %>
</div>
