<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.5em;}
</style>

<h1 class="text">Step 1: Log In</h1>


<div style="float: left; ">
  <%=image_tag "/assets/Howard ID.png"%>
</div>
<div class="text" style="float: left">
  <div class = "text"style="float: left">
    <%= form_tag(:action => "login") do %>

    <label for="name">Username:</label><br/>
    Your first initial followed by <br/> your last name and your year.<br/>    
    <%= text_field("user", "name", :size => 20 )%><br/>

    <p style="font-size: .75em;">Eg: JHoward88</p>
    
    <label for="student_id">Student ID:</label><br/>
    The five digit number on your <br/> student ID.<br/>  
    <%= password_field("user", "student_id", :size => 20)%><br/>
    <p style="font-size: .75em;">Eg: 12345</p>    
    
    <%= submit_tag("Submit")%>
    
    <% end %>
  </div>
</div>
