<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.2em;}
</style>
  <h1 class="text">Step 1: Log Ins!</h1>

  <div style="float: left; ">
    <%= image_tag "/assets/steele.png" %>
  </div>
  
  <div class="text" style="float: left">
    <div class = "text" style="float: left; position: relative; left: 15%;" >
      <%= form_tag(:action => "login") do %>

      <label for="user_prefix">Username:</label><br/>
      Your Regis Login <br/>
      It's the same as the first<br/> part of your Regis email<br/><br/>
      <%= text_field("user", "prefix", :size => 20, :placeholder => "PSteele88")%>
      
      <% if flash[:error] %>
      <p id="flash_error" style="color: #c41130;"><%= flash[:error] %></p>
      <% else %>
      <br /><br /><br />
      <% end %>

      <label for="user_number">ID Number:</label><br/>
    The five digit number<br/> on your student/teacher ID.<br/><br/>
    <%= password_field("user","number",:size => 20, :placeholder => "12345" )%>

    <br/><br/>
    
    <%= submit_tag("Login") %> 
    
    <% end %>
  </div>
</div>
