<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.5em;}
</style>
<% content_for(:head) do %>
<% javascript_include_tag :register %>
<% end %>
<% if session[:user].done? %>
 
<p class="text">Currently registered for: <%= session[:user].workshops.collect {|w| w.name}.join(", ")  %></p>
<div class="text">
  <p><strong>You're done!</strong> You can now <%= link_to "log out", "/user/logout"%>.</p>
</div>

<% else %>
<div style="float: left;">
  <p class="text">You are not currently registered for your workshops.</p>

  <%= form_tag(:controller => "user", :action => "register") do %>
</br>
First Session</br>
<%= select(:user, :first, Workshop.firsts.collect {|w| [w.name, w.id]}, {}, {:size => "6"})  %>
</br></br>
Second Session</br>
<%= select(:user, :second, Workshop.seconds.collect {|w| [w.name, w.id]}, {}, {:size => "6"})  %>
</br></br>
Third Session</br>
<%= select(:user, :third, Workshop.thirds.collect {|w| [w.name, w.id]}, {}, {:size => "6"})  %>
</br></br>

<br />
<%= submit_tag("Register") %>
</div>
<div id="description" style="float: left; width: 350px; margin: 20px;">
</div>
<% end %>
<% end %>
