<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.5em;}
</style>

<h1>Step 3: Register for Sites</h1>

<% if user.registered? %>
  <p class="text">Currently registered for: <%= user.event.name %></p>
  <div class="text">
    <p><strong>You're done!</strong> You can now safely <%= link_to "log out", "/user/logout"%>.</p>
    <p>For detailed information about your service site, please consult the appropriate <strong>RJHS Service Project Handbook</strong>, a link to which can be found at the bottom of this page.</p>
  </div>
<% else %>
  <%= form_tag(:controller => "user", :action => "register") do %>
    <p class="text">You are not currently registered for a site.</p>
    <label for="id">Please choose a site:</label><br />
    <%= select("event", "id", Event.all.sort {|a, b|  a.name <=> b.name }.collect {|e| [ "#{e.users.count}/#{e.capacity} - #{e.name}", e.id ] }, { :include_blank => true }) %>
    <br />
    <%= submit_tag("Submit") %>
  <% end %>
<% end %>
