<style type="text/css">
.text{
  font-family: Verdana, Geneva, sans-serif;
}
.text label{
  font-size: 1.5em;
}
h1 {
  font-size: 2.5em;
}
td {
  border-bottom: dashed;
  padding: 5px;
}
table {
  padding:10px;
}
select {
  width: 45em;
}
</style>

<% content_for(:head) do %>
  <% javascript_include_tag :register %>
<% end %>

<% if user.done? %>

  <h1>You are registered for: </h1>
<br />
<table>
  <tr>
    <td> Session </td> <td> Name </td> <td> Presentor </td> <td> Description </td> <td> Location </td>
    <% user.workshops.each do |w|  %>
      <tr>
      <td> <%= w.session %> </td>
      <td> <%= w.name %> </td>
      <td> <%= w.presentor %> </td>
      <td> <%= w.description %> </td>
      <td> <%= w.room %> </td>      
    </tr>
  <% end %>
  </table>
  <h1>You are done! <%= link_to "Logout", "/user/logout" %></h1>
<% else %>

    <p class="text">Click on a workshop to see its description. Press submit to sign up for the highlited workshops.</p>
  <%= render "workshop_selector" %>

<% end %> 
