<!DOCTYPE html>
<html>
<head>
  <title>RJHS Service Project Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
    body { background-color:#c41130; }
    #wrapper { margin: 0px auto; width: 779px; }
    #header { position: absolute; top: 0; left: 0%; width: 100%; background-color:#DDDBDB; height: 120px;
    
    background: #999;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C0C0', endColorstr='#DDDBDB');
    background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#DDDBDB));
    background: -moz-linear-gradient(top,  #C0C0C0,  #DDDBDB);
    
    }
    #body { position: absolute; top: 0; left: 10%; width: 80%; bottom: 0; background-color: #C0C0C0 }
  </style>
</head>
<body>

<style type="text/css">
  #info { position: absolute; right: 5%; top: 0px; }
  #flash { text-align: right; position: relative; top: -90px; right: 5%; font-size: 75%;}
  #yielded { position: absolute; top: 125px; left: 10%; }
</style>
<div id="body">

<div id="wrapper">
<div id="header">
  <div style="position: absolute; left: 10%;">
    <a href="http://www.regisjesuit.com/page.aspx?pid=192" tab="0" did="0" pid="192" ><%= image_tag "/assets/rjhs-logo.png" %></a>
  </div>
  
  <% if session[:user] %>
  <p id="info">Logged in as <%= session[:user][:name] %>.  <%= link_to "Log out", "/user/logout" %></p>
  <% else %>
  <p id="info">Not logged in.  <%= link_to "Log in", "/user/login" %></p>
  <% end %>
  <% if flash[:message] %>
  <p id="flash" class="message" style="color: green;"><%= flash[:message] %></p>
  <% end %>
  <% if flash[:warning] %>
  <p id="flash" class="warning" style="color: yellow;"><%= flash[:warning] %></p>
  <% end %>
  <% if flash[:notice] %>
  <p id="flash" class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
  <p id="flash" class="error" style="color: #c41130;"><%= flash[:error] %></p>
  <% end %>
</div>
</div>
  
<div id="yielded">

  <%= yield %>

</div>

<style type="text/css">
  #footer { position: absolute; bottom: 0; left: 0%; width: 100%; background-color:#DDDBDB; 

  background: #999;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDBDB', endColorstr='#C0C0C0');
  background: -webkit-gradient(linear, left top, left bottom, from(#DDDBDB), to(#C0C0C0));
  background: -moz-linear-gradient(top,  #DDDBDB,  #C0C0C0);

  }
  #footer_table { width: 80%; text-align: center; height: 120px; spacing: 50px; }
</style>
<div id="wrapper">
<<<<<<< HEAD
  <div id="footer">
    <table id="footer_table">
      <tr>
	<td></td>
	<td><%= link_to "Edit Site Registration", "/user/edit_sessions" %></td>
	<td><%= link_to "Print Site Information", "/user/print_sessions" %></td>
	<td>RJHS Service Project Handbook: <a href="http://www.regisjesuit.com/document.doc?id=9017" target="blank">BD</a></td>
      </tr>
    </table>
=======
  <div id="footer" >
    <div style="position: absolute; left: 10%;">
      <table id="footer_table">
	<tr>
	  <td><%= link_to "Edit Site Registration", "/user/edit_sessions" %></td>
	  <td><%= link_to "Print Site Information", "/user/print_sessions" %></td>
	  <td>RJHS Service Project Handbook: <a href="http://www.regisjesuit.com/document.doc?id=9017" target="blank">BD</a></td>
	</tr>
      </table>
    </div>
>>>>>>> 98de30b380d3653f2d7a8f1d3bf17cacfacf5c60
  </div>
</div>  <!-- Wrapper -->

</div> <!-- Body -->

</body>
</html>
