<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Diversity Day" %></title> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="fixed">
    <nav class="top-bar show-for-touch">
      <div class="row">
        <% if session[:user_id].nil? %>                                        
         <a href="/login"><span>Log In</span></a>
         <% else %>
	 Eventreg
	 <% end %>
      </div>                                                                  
    </nav>
  </div>
  
  <div class="tab row centered" style="text-align: center;">            
    <h3>Active Players</h3>
    <div class="small-2 large-3 columns centered">YOU</div>
  </div>
  
  <%= yield %>
  
</body>
</html>
